// pallete
$dark-purple  : #512DA8;
$purple       : #673AB7;
$light-purple : #D1C4E9;
$pale         : #FFFFFF;
$blue         : #00BCD4;
$dark         : #212121;
$grey         : #757575;
$light-grey   : #BDBDBD;


//Nav
$nav-background: $purple;
$nav-text-color: $pale;
$nav-bar-link-color: $blue;

//App
$background: $dark;
$font-color: $pale;
