// pallete
$dark-purple  : #512DA8;
$purple       : #673AB7;
$light-purple : #D1C4E9;
$pale         : #FFFFFF;
$blue         : #00BCD4;
$dark         : #212121;
$grey         : #757575;
$light-grey   : #BDBDBD;


//Nav
$nav-background: $purple;
$nav-text-color: $pale;
$nav-bar-link-color: $blue;

//App
$background: $dark;
$font-color: $pale;


//Clock
$clock-text-color: $blue;
$clock-bg-color: $dark-purple;
$clock-border-color: $light-purple;

//countdown form
$start-button-bg: $purple;
$start-button-text: $blue;
$start-button-hover: $light-purple;
$start-button-border: $grey;
$start-button-hover-text: $dark;
$input-ph: $light-grey;

//controls form
$pause-button-bg: $grey;
$pause-button-text: $pale;
$pause-button-hover: darken($grey, 10%);
$pause-button-border: darken($grey, 10%);;
$pause-button-hover-text: $pale;

$clear-button-bg: $purple;
$clear-button-text: $blue;
$clear-button-hover: $light-purple;
$clear-button-border: $grey;
$clear-button-hover-text: $dark;
