.button {
  background-color: $button-bg;
  color: $button-text;
  border: 1px solid $button-border;
  &:hover, &:active, &:focus   {
    background-color: $button-hover;
    color: $button-hover-text;
  }

}
