.start-button {
  background-color: $start-button-bg;
  color: $start-button-text;
  border: 1px solid $start-button-border;
  &:hover, &:active, &:focus   {
    background-color: $start-button-hover;
    color: $start-button-hover-text;
  }
}

input[type="text"], textarea {
  background-color : $pale;
  border: 1px solid $start-button-border;
}
